<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Verified NFT Market Place">
    <meta name="author" content="ookimaki">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="NFTS" />
    <meta name="twitter:description" content="Verified NFT Market Place" />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/block-base/ethereum-nft-exchange/master/nfts/screen.png">

    <title>NFTS</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <link rel="stylesheet" href="./semantic/semantic.min.css" />


    <style>

        .ui.container {
            padding-top: 90px;
            padding-bottom: 90px;
        }

        .masthead.segment {
            height: 100vh;
        }

        .masthead h1.ui.header {
            font-size: 4em;
            font-weight: normal;
        }
        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        #purchase .image {
            height: 40vh;
        }

        #purchase-detail .image {
            height: 50vh;
        }     
          
        #sell .image {
            height: 40vh;
        }

        #sell-detail .image {
            height: 50vh;
        }     
     
        img {
            width:100% !important;
            height: 100% !important;
            object-fit: cover;
        }

    </style>
</head>

<body>
    <div id="app">
        <header id="luxbar" class="luxbar-fixed">
            <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox" />
            <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-cyan">
                <ul class="luxbar-navigation">
                    <li class="luxbar-header">
                        <a @click="transPage('home')" class="luxbar-brand">NFTS</a>
                        <label class="luxbar-hamburger luxbar-hamburger-doublespin" id="luxbar-hamburger" for="luxbar-checkbox">
                            <span></span> </label>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('register')">Register</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('publish')">Publish</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('purchase')">Purchase</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('sell')">Sell</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('exchange')">Exchange</a>
                    </li>
                </ul>
            </div>
        </header>

        <div id="home" v-if="currentPage == 'home'">
            <div class="ui inverted vertical masthead center aligned segment">
                <div class="ui text container">
                    <h1 class="ui inverted header">
                        NFTS
                    </h1>
                    <h2>Verified NFT Market Place</h2>
                    <button class="btn btn-primary" id="btn-connect">
  Connect wallet
</button>
                </div>
            </div>
        </div>

        <div id="register" v-if="currentPage == 'register'">
            <div class="ui container middle text">
                <div class="ui segment">

                    <div id="deploy" style="display:none">
                        <form class="ui form" name="form">
                            <h4 class="ui header">Deploy Your Identity</h4>
                            <div id="confirm" class="fluid ui teal button" @click="deploy()">Deploy</div>
                        </form>
                    </div>

                    <div id="verify" style="display:none">
                        <form class="ui form" name="form">
                            <h4 class="ui header">Your Information</h4>
                            <div class="field">
                                <input type="text" name="name" id="name" placeholder="Name">
                            </div>
                            <div id="confirm" class="fluid ui teal button" @click="register()">Register</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="publish" v-if="currentPage == 'publish'">
            <div class="ui container middle text">
                <div class="ui segment">
                    <h4 class="ui header">Please input your content detail</h4>
                    <form class="ui form" name="form">
                        <div class="field">
                            <label for="publish" class="file">
                                <input type="file" id="file" @change="readFile(this)" />
                            </label>
                        </div>
                        <div class="field">
                            <input type="text" name="title" id="title" placeholder="Title">
                        </div>
                        <div class="field">
                            <textarea name="descripttion" id="description" placeholder="Description"></textarea>
                        </div>
                        <div class="field">
                            <div class="ui right labeled input field">
                                <input type="text" name="price" id="price_publish" placeholder="Price">
                                <div class="ui basic label">
                                    ETH
                                </div>
                            </div>
                        </div>
                        <div id="confirm" class="fluid ui teal button disabled" @click="publish()">Publish</div>
                    </form>
                </div>
            </div>
        </div>

        <div id="purchase" v-if="currentPage == 'purchase'">
            <div class="ui container">
                <div class="ui three stackable doubling cards">
                    <a class="ui card" v-for="purchase in purchases" @click="transPage('purchase-detail', purchase.index)">
                        <div class="image">
                            <img :src="purchase.image">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="purchase-detail" v-if="currentPage == 'purchase-detail'">
            <div class="ui container">
                <div class="ui two column stackable grid">
                    <div class="ui column">
                        <div class="image">
                            <img :src="purchases[index].image">
                        </div>
                    </div>
                    <div class="ui column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">{{purchases[index].name}}</div>
                                <div class="ui small feed">
                                    <div class="content">
                                        {{purchases[index].description}}
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <form class="ui form" name="form">
                                    <div class="field">
                                        {{purchases[index].eth}} ETH
                                    </div>
                                    <div class="field">
                                        <button class="ui teal button" type="button" @click="purchase(purchases[index].id, purchases[index].price)">Purchase</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sell" v-if="currentPage == 'sell'">
            <div class="ui container">
                <div class="ui three stackable doubling cards">
                    <a class="ui card" v-for="sell in sells" @click="transPage('sell-detail', sell.index)">
                        <div class="image">
                            <img :src="sell.image">
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="sell-detail" v-if="currentPage == 'sell-detail'">
            <div class="ui container">
                <div class="ui two column stackable grid">
                    <div class="ui column">
                        <div class="image">
                            <img :src="sells[index].image">
                        </div>
                    </div>
                    <div class="ui column">
                        <div class="ui fluid card">
                            <div class="content">
                                <div class="header">{{sells[index].name}}</div>
                                <div class="ui small feed">
                                    <div class="content">
                                        {{sells[index].description}}
                                    </div>
                                </div>
                            </div>
                            <div class="extra content">
                                <form class="ui form" name="form">
                                    <div class="ui right labeled input field">
                                        <input type="text" name="price" id="price_sell" placeholder="Price">
                                        <div class="ui basic label">
                                            ETH
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button class="ui teal button" type="button" @click="sell(sells[index].id)">Sell</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="exchange" v-if="currentPage == 'exchange'">
            <div class="ui container">




            </div>
        </div>

    </div>

    
    
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@metamask/legacy-web3@latest/dist/metamask.web3.min.js"></script>
    
    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="./semantic/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="./js/contract.js"></script>　
    <script src="./js/buffer.js"></script>　
    <script src="./js/ipfs.js"></script>
    

    
<script>"use strict";

  /**
   * Example JavaScript code that interacts with the page and Web3 wallets
   */
  
   // Unpkg imports
  const Web3Modal = window.Web3Modal.default;
  const WalletConnectProvider = window.WalletConnectProvider.default;
  const Fortmatic = window.Fortmatic;
  const evmChains = window.evmChains;
  
  // Web3modal instance
  let web3Modal
  
  // Chosen wallet provider given by the dialog window
  let provider;
  
  
  // Address of the selected account
  let selectedAccount;
  
  
  /**
   * Setup the orchestra
   */
  function init() {
  
    console.log("Initializing example");
    console.log("WalletConnectProvider is", WalletConnectProvider);
    console.log("Fortmatic is", Fortmatic);
    console.log("window.web3 is", window.web3, "window.ethereum is", window.ethereum);
  
    // Check that the web page is run in a secure context,
    // as otherwise MetaMask won't be available
    if(location.protocol !== 'https:') {
      // https://ethereum.stackexchange.com/a/62217/620
      const alert = document.querySelector("#alert-error-https");
      alert.style.display = "block";
      document.querySelector("#btn-connect").setAttribute("disabled", "disabled")
      return;
    }
  
    // Tell Web3modal what providers we have available.
    // Built-in web browser provider (only one can exist as a time)
    // like MetaMask, Brave or Opera is added automatically by Web3modal
    const providerOptions = {
      walletconnect: {
        package: WalletConnectProvider,
        options: {
          // Mikko's test key - don't copy as your mileage may vary
          infuraId: "8043bb2cf99347b1bfadfb233c5325c0",
        }
      },
  
      fortmatic: {
        package: Fortmatic,
        options: {
          // Mikko's TESTNET api key
          key: "pk_test_391E26A3B43A3350"
        }
      }
    };
  
    web3Modal = new Web3Modal({
      cacheProvider: false, // optional
      providerOptions, // required
      disableInjectedProvider: false, // optional. For MetaMask / Brave / Opera.
    });
  
    console.log("Web3Modal instance is", web3Modal);
  }
  
  
  /**
   * Kick in the UI action after Web3modal dialog has chosen a provider
   */
  async function fetchAccountData() {
  
    // Get a Web3 instance for the wallet
    const web3 = new Web3(provider);
  
    console.log("Web3 instance is", web3);
  
    // Get connected chain id from Ethereum node

    // Load chain information over an HTTP API
  
    // Get list of accounts of the connected wallet
    const accounts = await web3.eth.getAccounts();
  
    // MetaMask does not give you all accounts, only the selected account
    console.log("Got accounts", accounts);
    selectedAccount = accounts[0];
  
    document.querySelector("#selected-account").textContent = selectedAccount;
  
    // Get a handl
    const template = document.querySelector("#template-balance");
    const accountContainer = document.querySelector("#accounts");
  
    // Purge UI elements any previously loaded accounts
    accountContainer.innerHTML = '';
  
    // Go through all accounts and get their ETH balance
    const rowResolvers = accounts.map(async (address) => {
      const balance = await web3.eth.getBalance(address);
      // ethBalance is a BigNumber instance
      // https://github.com/indutny/bn.js/
      const ethBalance = web3.utils.fromWei(balance, "ether");
      const humanFriendlyBalance = parseFloat(ethBalance).toFixed(4);
      // Fill in the templated row and put in the document
      const clone = template.content.cloneNode(true);
      clone.querySelector(".address").textContent = address;
      clone.querySelector(".balance").textContent = humanFriendlyBalance;
      accountContainer.appendChild(clone);
    });
  
    // Because rendering account does its own RPC commucation
    // with Ethereum node, we do not want to display any results
    // until data for all accounts is loaded
    await Promise.all(rowResolvers);
  
    // Display fully loaded UI for wallet data
    document.querySelector("#prepare").style.display = "none";
    document.querySelector("#connected").style.display = "block";
  }
  
  
  
  /**
   * Fetch account data for UI when
   * - User switches accounts in wallet
   * - User switches networks in wallet
   * - User connects wallet initially
   */
  async function refreshAccountData() {
  
    // If any current data is displayed when
    // the user is switching acounts in the wallet
    // immediate hide this data
    document.querySelector("#connected").style.display = "none";
    document.querySelector("#prepare").style.display = "block";
  
    // Disable button while UI is loading.
    // fetchAccountData() will take a while as it communicates
    // with Ethereum node via JSON-RPC and loads chain data
    // over an API call.
    document.querySelector("#btn-connect").setAttribute("disabled", "disabled")
    await fetchAccountData(provider);
    document.querySelector("#btn-connect").removeAttribute("disabled")
  }
  
  
  /**
   * Connect wallet button pressed.
   */
  async function onConnect() {
  
    console.log("Opening a dialog", web3Modal);
    try {
      provider = await web3Modal.connect();
    } catch(e) {
      console.log("Could not get a wallet connection", e);
      return;
    }
  
    // Subscribe to accounts change
    provider.on("accountsChanged", (accounts) => {
      fetchAccountData();
    });
  
    // Subscribe to chainId change
    provider.on("chainChanged", (chainId) => {
      fetchAccountData();
    });
  
    // Subscribe to networkId change
    provider.on("networkChanged", (networkId) => {
      fetchAccountData();
    });
  
    await refreshAccountData();
  }
  
  /**
   * Disconnect wallet button pressed.
   */
  async function onDisconnect() {
  
    console.log("Killing the wallet connection", provider);
  
    // TODO: Which providers have close method?
    if(provider.close) {
      await provider.close();
  
      // If the cached provider is not cleared,
      // WalletConnect will default to the existing session
      // and does not allow to re-scan the QR code with a new wallet.
      // Depending on your use case you may want or want not his behavir.
      await web3Modal.clearCachedProvider();
      provider = null;
    }
  
    selectedAccount = null;
  
    // Set the UI back to the initial state
    document.querySelector("#prepare").style.display = "block";
    document.querySelector("#connected").style.display = "none";
  }
  
  
  /**
   * Main entry point.
   */
  window.addEventListener('load', async () => {
    init();
    document.querySelector("#btn-connect").addEventListener("click", onConnect);
    document.querySelector("#btn-disconnect").addEventListener("click", onDisconnect);
  });
  
  
  </script>
    
    <script>

        var userAccount;
        var contract;
        var registry;
        var identity;
        var identityBytesCode;
        var hash;

        var ipfs = window.IpfsApi({ host: 'ipfs.infura.io', protocol: 'https' });

        window.addEventListener('load', function () {

            if (typeof web3 !== 'undefined') {
                web3js = new Web3(web3.currentProvider);

                content = web3js.eth.contract(contentABI);
                contract = content.at(contentAddress);

                registryContract = web3js.eth.contract(registryABI);
                registry = registryContract.at(userRegistry);

                $.getJSON('../contracts/Identity.json').then(function (data) {
                    identityABI = data.abi;
                    identityBytesCode = data.bytecode;
                    identity = web3js.eth.contract(identityABI);
                });

                var accountInterval = setInterval(function () {
                    web3.eth.getAccounts((error, accounts) => {
                        if (accounts[0] !== userAccount) {
                            userAccount = accounts[0];
                            displayIdentity()
                        }
                    });
                }, 100);
            }
        })

        function _readFile(input) {
            return new Promise(resolve => {

                var content = document.getElementById("file");
                var idxDot = content.value.lastIndexOf(".") + 1;
                var extFile = content.value.substr(idxDot, content.value.length).toLowerCase();
                if (extFile == "jpeg" || extFile == "png" || extFile == "jpg" || extFile == "gif") {
                    var reader = new FileReader();
                    reader.readAsArrayBuffer(content.files[0]);
                    reader.onloadend = function (event) {
                        var buf = buffer.Buffer(reader.result)
                        ipfs.add(buf, (err, result) => {
                            imageHash = result[0].hash;
                            var url = imageHash;
                            console.log(url);
                            resolve(imageHash)
                        });
                    }

                } else {
                    alert("Only jpeg/gif/png files are allowed!");
                    $('.segment').dimmer('hide');
                }

            })
        }

        async function _deploy() {
            identity.new(userRegistry, { data: identityBytesCode }, function (err, myContract) {
                if (!err) {
                    if (!myContract.address) {
                        console.log(myContract.transactionHash)
                    } else {
                        //displayIdentity();

                    }
                }
            })
        }

        async function _register(name) {

            registry.users(userAccount, function (err, result) {
                axios.get('https://smartcontents.glitch.me/register?identity=' + result + '&name=' + name).then(function (response) {
                    sig = response.data.sig
                    data = response.data.data

                    var identityInstance = identity.at(result);
                    identityInstance.addClaim(
                        1,
                        0,
                        claimHolder,
                        sig,
                        data,
                        ""
                        ,
                        function (err, result) {
                            if (!err) {
                                console.log(result);
                            }
                        });

                })
            });
        }

        async function _publish(title, desc, content, price) {

            contract.mint(title, desc, content, price, function (err, result) {
                if (!err) {
                    console.log(result);
                }
            })

        }

        async function _purchase(id, price) {
            contract.purchase(id, { value: price }, function (err, result) {
                if (!err) {
                    console.log(result);
                }
            })
        }

        async function _sell(id, price) {
            contract.sell(id, price, function (err, result) {
                if (!err) {
                    console.log(result);
                }
            });

        }

        function displayIdentity() {
            registry.users(userAccount, function (err, result) {
                if (result != 0x0) {
                    $('#deploy').hide();
                    $('#verify').show();
                } else {
                    $('#deploy').show();
                    $('#verify').hide();
                }
            });
        }

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    purchases: [],
                    sells: [],
                    currentPage: 'home',
                }
            },
            methods: {
                transPage: function (page, index) {
                    
                    var url = "/" + page;
                    ga('send', 'pageview', url);

                    this.currentPage = page;
                    this.index = index;

                    if (page == "register") {
                        displayIdentity()
                    }

                },

                register: function register() {
                    var name = $("#name").val();
                    _register(name);
                },

                readFile: async function readFile(input) {
                    $("#confirm").addClass("disabled");
                    hash = await _readFile(input)
                    $("#confirm").removeClass("disabled");
                },

                publish: async function publish() {

                    var price = $("#price_publish").val();
                    var title = $("#title").val();
                    var desc = $("#description").val();

                    price = web3js.toWei(price);
                    _publish(title, desc, hash, price)

                },

                purchase: function purchase(id, price) {
                    _purchase(id, price);
                },

                deploy: function deploy() {
                    _deploy();
                },

                sell: function sell(id) {
                    var price = $("#price_sell").val();
                    price = web3js.toWei(price);

                    _sell(id, price);
                }

            },

            mounted() {
                axios.get('https://smartcontents.glitch.me/market').then(response => (
                    this.purchases = response.data
                ))

                web3.eth.getAccounts((error, accounts) => {
                    if (accounts[0] !== userAccount) {
                        userAccount = accounts[0];

                        axios.get('https://smartcontents.glitch.me/ownedTokens?address=' + userAccount).then(response => (
                            this.sells = response.data
                        ))

                    }
                });
            }
        })

    </script>
</body>

</html>
